<html lang="en-US" ng-app="TIYAngularChatApp">

<!--
{{! changing the mustache delimiter so it doesn't conflict with  }}
{{! the default angularjs delimeters - https://mustache.github.io/mustache.5.html for more info  }}
{{=<% %>=}}
-->

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="../static/js/tiy-ng-controller.js"></script>
<script src="js/tiy-ng-controller.js"></script>

<body ng-controller="ChatController">

<%^user%>
<form action="/login" method="post">
    <input type="text" placeholder="Username" name="userName" ng-model="newUser.name" required/>
    <button type="submit" ng-click="addUser()">Login</button>
</form>
<%/user%>

<%#user%>

<div style="position: relative; float: left; width: 40%; padding: 20px;">
    <form action="/inputText" method="post">
        <input type="text" placeholder="Enter your message" name="message" ng-model="newMessage.text"/>
        <button type="submit" ng-click="addMessage()">Send</button>
    </form>
    <button type="submit"><a href="/logout">Logout</a></button>

    <input type="button" ng-click="getMessages()" value="Refresh Chat Log"/>

</div>

<br/><br/><br/><br/><br/>

<div style="position: relative; float: left; width: 40%; padding: 20px;">
    <h2>Chat Log</h2>
    <ul>
        <li ng-repeat="message in messages">
            <!--<%user.name%>: -->
            {{message.text}}
        </li>
    </ul>
</div>
<%/user%>
</body>
</html>
